<!DOCTYPE html>
<html>
<head>
    <title>Sinatra Game Reviews: Game Reviews</title>
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <img src="/images/controller.png" class="logo">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/reviews">Game Reviews</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <section id="login-page">
        <div class="section-inner">
            <h2>Log In!</h2>        
            <p class="error"><%= "Must include username and password" if @user && @user.errors.any? %></p>

            <form action="/login" method="POST">
                <p>
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" required>
                </p>
                <p>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required>
                </p>
            
                <input type="submit" value="Login"/>
            </form>
            <h3>Don't have an account?</h3>
            <button><a href="/signup">Sign Up Here</a></button>
        </div>
    </section>
    </main>
    <footer>
        Flatiron: Sinatra Portfolio Project
    </footer>
</body>
</html>


